.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.map {
  height: 100vh;
}

label{
  display: block;
  margin: 20px;
}

input {
  margin: 10px;
  padding: 5px;
}

.form{
  width: 28%;
  position: fixed;
  overflow-y: auto;
  z-index: 998;
  height: 100%;
  padding-top: 65px;
  background-color: rgba(175, 175, 175, 0.5);
}

.validation-modal {
  background-color: white;
  width: 400px;
  z-index: 999;
  position: absolute;  
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px black;
  box-shadow: .2em .2em .3em gray;
  padding: 1%;
}

.error-message {
  font-size: .8em;
  margin: 5%;
}

.validation-modal-title {
  margin: 1%;
  border-bottom: 1px solid gray;
}